@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
.sub-navbar-container {
  background-color: #f0f0f0; /* Replace with your desired background color */
}

.icon-container {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.icon-container:hover {
  transform: rotate(360deg);
}

/* Add this in your main CSS file */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
