@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
.sub-navbar-container {
  background-color: #f0f0f0;
}

.icon-container {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.icon-container:hover {
  transform: rotate(360deg);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes rotate-container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-rotate {
  animation: rotate-container 10s linear infinite;
}
@keyframes rotate-container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-rotate {
  animation: rotate-container 10s linear infinite;
}

/* Define the keyframes for vertical bouncing */
@keyframes bounce-vertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -20px
    ); /* Adjust this value to control the bounce height */
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the vertical bounce animation to the contact card */
.animate-bounce-vertical {
  animation: bounce-vertical 2s ease-in-out infinite;
}
